.guca {
  /* text-align: center; */
}

.guca-header {
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.guca-intro {
  font-size: large;
}

.guca-link {
  color: #61dafb;
}

.toggleButton {
  background-color: white;
}
