@font-face {
  font-family: 'GurbaniAkhar';
  font-style: normal;
  font-weight: 400;
  src: local('GurbaniAkhar'),
       url('fonts/GURAKHAR.TTF') format('truetype')
}

.component-conversion-input {
}

.component-conversion-input > div {
  margin: 0 0 0 0;
}

.component-conversion-input textarea {
  background-color: #243447;
  color: #ffffff;
  font-size: 25px;
  font-family: 'GurbaniAkhar';
  padding: 10px 8px;
  width: 100%;
}

.chart-gurbani {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 35px;
  font-family: "GurbaniAkhar";
  /* font-family: 'Mukta Mahee', sans-serif; */
}

.chart-english {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 20px;
  /* font-family: 'Mukta Mahee', sans-serif; */
}
