@font-face {
  font-family: 'GurbaniAkhar';
  font-style: normal;
  font-weight: 400;
  src: local('GurbaniAkhar'),
       url('fonts/GURAKHAR.TTF') format('truetype')
}

@font-face {
  font-family: 'AnmolUniBani';
  src: local('AnmolUniBani'),
       url('fonts/AnmolUniBani.ttf') format('truetype')
}

@font-face {
  font-family: 'OpenAnmolUni';
  src: local('OpenAnmolUni'),
       url('fonts/OpenAnmolUni-Bold.woff') format('woff')
}

@font-face {
  font-family: 'OpenSatlujUni';
  src: local('OpenSatlujUni'),
       url('fonts/OpenSatlujUni-Regular.otf') format('opentype')
}

.component-conversion-result-main-gurbani {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 25px;
  font-family: "OpenSatlujUni";
}

.component-conversion-result-main {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Mukta Mahee', sans-serif;
}

.component-conversion-result-main-hindi {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Mukta Mahee', sans-serif;
}

.component-conversion-result-main-hindi-gurbani {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 20px;
  font-family: "OpenSatlujUni";
}

.component-conversion-result-sub {
  padding: 5px;
  background-color: #243447;
  color: #ffffff;
  font-size: 20px;
  /* font-family: "GurbaniAkhar"; */
  font-family: 'Avenir', sans-serif;
}
